/* You can add global styles to this file, and also import other style files */
app-root {
    display: flex;
    flex-direction: column;
}

.menu {
    background: lightgrey;

    a {
        margin: 10px;
    }
}

.module {
    border: 1px solid green;
}

label {
    padding: 10px;
}

textarea {
    width: 100%;
}